body {
  font-size: 24px;
  font-family: Tahoma, Verdana, Arial;
  margin: 12px 20px;
}
.btn {
  color: #c0c0c0;
  display: inline-block;
  cursor: pointer;
}
.btn:hover {
  color: grey;
}
input[type="text"] {
  font-family: inherit;
  height: 32px;
  width: 240px;
}
.d-flex {
  display: flex;
}
.level {
  display: flex;
  align-items: center;
}
.mt-10 {
  margin-top: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.done-items span {
  text-decoration: line-through;
}